* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #fcf6fc; 
}

.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: purple; 
    border-radius: 1rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    margin: 0;
    padding: 0;
    list-style: none;
}

.pokemons li { 
    background-color: #f9f9f9; 
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 8px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.pokemons li:hover {
    background-color: blueviolet; 
}


.normal {
    background-color: #c6c6c6;
}

.grass {
    background-color: #77dd77;
}

.fire {
    background-color: #ff6b6b;
}

.water {
    background-color: #6c9eff;
}

.electric {
    background-color: #ffd700;
}

.ice {
    background-color: #a4e1eb;
}

.ground {
    background-color: #deaa87;
}

.flying {
    background-color: #c3b1e1;
}

.poison {
    background-color: #a040a0;
}

.fighting {
    background-color: #d86c68;
}

.psychic {
    background-color: #ff70a6;
}

.dark {
    background-color: #8c776b;
}

.rock {
    background-color: #c5a16e;
}

.bug {
    background-color: #b4d97a;
}

.ghost {
    background-color: #6f5e8d;
}

.steel { 
    background-color: #b8b8d0;
}

.dragon {
    background-color: #8e9bed;
}

.fairy {
    background-color: #f4c0c0;
}

.pokemon {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
}

.pokemon .number {
    color: #333;
    opacity: 1;
    text-align: right;
    font-size: 0.625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #111; 
    margin-bottom: 0.25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #ffffff; 
    padding: 0.25rem 0.5rem;
    margin: 0.25rem 0;
    font-size: 0.625rem;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.9); 
    text-align: center;
}

.pokemon .detail img {
    max-width: 100%;
    height: 70px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    padding: 0.5rem 1rem;
    margin: 0.25rem;
    font-size: 1rem;
    color: #fff; 
    background-color: #0822e9; 
    border: none;
    border-radius: 1rem;
    transition: background-color 0.3s ease;
}

.pagination button:hover {
    background-color: #5a68c1; 
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}
